* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Saira Extra Condensed', sans-serif;
	/* background: #e5e5e5; */
	color: #fff;
	/* font-size: 10px; */
}

body {
	background-color: #e5e5e5;
}

header {
	margin-bottom: 120px;
}

.collapse {
	justify-content: end;
}

.nav__contact {
	border: 1px solid black;
	border-radius: 25px;
	font-weight: 700;
	background-color: #a48c8c;
}
